* {
    font-family: 'Consolas';
}

body {
    background-color: #31304D;
    color: #F0ECE5;
    margin: 5% 10%;
}

h1 {
    font-family: 'Press Start 2P';
}

hr {
    border: 2px dashed #F0ECE5;
}

.searchBtn {
    color: white;
    border-color: white;
}

.searchBtn:hover {
    color: white;
    background-color: #161A30;
    border-color: #161A30;
}

#anchor-buttons button {
    background: none !important;
    border: none;
    padding: 0!important;
    color: skyblue;
    text-decoration: underline;
    cursor: pointer;
    text-align: left;
  }

/* 
#161A30 primary
#31304D secondary
#B6BBC4 tertiary
#F0ECE5 final 
*/